<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>선유도서관</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="container">
    <section id="main">
        <h2>선유도서관</h2>
        <div class="main_img">
            <img th:src="@{/images/B3.jpg}" alt="석민이형">
        </div>
        <a th:href="@{/board/write}"><button type="button">글쓰기</button></a>
        <a th:href="@{/member/join}"><button type="button">회원가입</button></a>
        <a th:href="@{/member/login}"><button type="button">로그인</button></a>
    </section>
</div>
</body>
</html>